# Required for Github SSO
https://github.com/getsentry/sentry-auth-github/archive/master.zip

# Required for Google integrations
# from https://github.com/getsentry/sentry/blob/9.1.2/requirements-optional.txt
google-cloud-storage>=1.13.2,<1.14
